---
import Section from "../Section.astro";

import { education } from "@cv"
---

<Section title="Education">
    <ul>
        {education.map(({ institution, area, courses, studyType, startDate, endDate }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear = endDate !== "" ? new Date(endDate).getFullYear() : "Current";
            const years = `${startYear} - ${endYear}`;
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{institution}</h3>
                                <h4>{area} - {studyType}</h4>
                            </div>
                            <time>{years}</time>
                        </header>
                        <footer>
                            <time>{}</time>
                            <ul>
                                {courses.map((course) => (
                                    <li><p>{course}</p></li>
                                ))}
                            </ul>
                        </footer>
                    </article>
                </li>
            );
        })}
    </ul>
<Section/>

<style>
    ul {
        display: flex;
        flex-direction: column;
    }
    article h3 {
        font-weight: 500;
    }
    article h4 {
        font-weight: 400;
        margin-bottom: 12px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
    time {
        font-size: 0.85rem;
    }
    p {
        margin-bottom: 16px;
    }
</style>